
<section class="about">
  <div class="jumbotron">
    <h1>Welcome to Jungle!</h1>
    <br>
    <p>Jungle is a shop for people who like unique and quirky things!!!<br>
    Our items are from all over the world!!!<br>Hope you enjoy our weird collection!</p>
  </div>
</section>